:root {
    --btn-color: bisque;
    --btn-width: 65px;
    --btn-height: 65px;
    --btn-font-size: 30px;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main {
    background: url(img/background.png) center/cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.game__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
}

.game__play {
    margin: 0;
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    top: 5vh;
    height: var(--btn-height);
    width: var(--btn-width);
    font-size: var(--btn-font-size);
    background-color: var(--btn-color);
    transition: all 100ms ease-in;
    cursor: pointer;
    user-select: none;
}
.game__play:hover {
    transform: scale(1.1);
}

.game__timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid black;
    width: 195px;
    height: 50px;
    position: absolute;
    top: 14vh;
    font-size: 35px;
    font-weight: 600;
    background-color: white;
    user-select: none;
    visibility: hidden;
}
.carrot__count {
    margin: 0;
    position: absolute;
    top: 22vh;
    border: 3px solid black;
    border-radius: 50%;
    background-color: #ff8e54;
    color: white;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 550;
    user-select: none;
    visibility: hidden;
}
.game__field {
    /* position:relative 해줘야 item 추가할때 .game__field기준으로 top,left 좌표 설정 가능  */
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}
.pop-up {
    width: 550px;
    height: 200px;
    padding: 20px;
    color: white;
    background-color: #00000090;
    border-radius: 20px;
    text-align: center;
    transform: translateY(-200%);
    z-index: 1;
}
.pop-up__hide {
    display: none;
}
.pop-up__refresh {
    height: var(--btn-height);
    width: var(--btn-width);
    font-size: var(--btn-font-size);
    background-color: wheat;
    border: 3px solid black;
    border-radius: 50%;
    margin-bottom: 30px;
}
.pop-up__refresh:hover {
    cursor: pointer;
}
.pop-up__message {
    display: block;
    font-size: 45px;
}

.end__game {
    width: 700px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    z-index: 1;
    display: none;
}
.replay {
    cursor: pointer;
    height: 70px;
    width: 70px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: bisque;
    transition: all 100ms ease-in;
}
.replay:hover {
    transform: scale(1.1);
}
.game__status {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
}
.carrot,
.bug {
    cursor: pointer;
    transition: transform 0.2s;
}

.carrot:hover,
.bug:hover {
    transform: scale(1.1);
}
